.wrapped-main {
    background-color: white;
    border: none;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.form input {
    width: 250px;
    padding: 16px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #00000042;
    outline: none;
    border-radius: 5px;
    vertical-align: center;
    background-color: whitesmoke;
}
.form input:focus {
    border: 1px solid #333333;
}
.form button {
    background-color: #333333;
    border: none;
    color: whitesmoke;
    padding: 16px 16px;
    text-decoration: none;
    margin: 5px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.form button:focus {
    background-color: whitesmoke;
    border: 1px solid #333333;
    color: #333333;
}